<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS / theme -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/javascript/jquery-1.11.3.js"></script>
    <script src="/javascript/bootstrap.js"></script>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top alert-success">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">Top Page</a>
        </div>
       </div>
    </nav>

    <div class="container theme-showcase" role="main">


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>TCircle and the punishment , was prepared a grid of 3 × 3, and is a two people alternately " ○ " and continue three written " × " arranging game.</p>
      </div>



      <div class="page-header">
        <h1>Panels</h1>
      </div>
      <div class="row">
        <a href ="/prototypeS7">
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Socket.io Game ver0.1</h3>
            </div>
            <div class="panel-body">
              基本ゲームの構築<br/>
            </div>
          </div>
        </div>
        </a><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-success	">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>



      <div class="page-header">
        <h1>Thumbnails</h1>
      </div>
      <img data-src="holder.js/200x200" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">




    </div> <!-- /container -->
  </body>
</html>