    #scoreArea {
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        margin: 30px auto;
    }
    #scoreText {
        font-weight: bold;
        font-size: 24px;
    }
    #startButton {
        margin: 30px auto;
        width: 180px;
        border-radius: 5px;
        box-shadow: 0 4px 0 #e91b0c;
        background: #f44336;
        color: #fff;
        cursor: pointer;
        padding: 7px;
    }
    #startButton:hover {
        opacity: 0.8;
    }
    #startButton.pushed {
        margin-top: 32px;
        box-shadow: 0 2px 0 #e91b0c;
    }

    #giveUpButton {
        margin: 30px auto;
        width: 180px;
        border-radius: 5px;
        box-shadow: 0 4px 0 #e91b0c;
        background: #f44336;
        color: #fff;
        cursor: pointer;
        padding: 7px;
    }
    #giveUpButton:hover {
        opacity: 0.8;
    }
    #giveUpButton.pushed {
        margin-top: 32px;
        box-shadow: 0 2px 0 #e91b0c;
    }

    .mark {
    }

    .markMaru {
        display : inline-block;
        width   : 40px;
        height  : 40px;
        cursor  : pointer;
        background-image: url("/images/maru.png");
    }

    .markBatu {
        display : inline-block;
        width   : 40px;
        height  : 40px;
        cursor  : pointer;
        background-image: url("/images/batu.png");
    }


    .btn {
        display : inline-block;
        width   : 40px;
        height  : 40px;
        padding : 7px;
        box-shadow: 1px 1px 1px 1px #000;
        color   : #fff;
        cursor  : pointer;
        margin-bottom: 10px;
    }
    .btn + .btn {
        margin-left: 10px;
    }
    .btn.inactive {
        opacity: 0.5;
    }

    .btn.maru {
        background-image: url("/images/maru.png");
    }

    .btn.batu {
        background-image: url("/images/batu.png");
    }

    .charaA {
        width: 75px;
        height: 35px;
        padding: 7px;
        background-color: #fff;
        border: 2px solid #FA7474;
        cursor: pointer;
        margin-bottom: 10px;
        background-image: url("/images/charaA.gif");

    }
    .charaA.burst {
        background-image: url("/images/charaA_burst.gif");
    }
    .charaA.death {
        background-image: url("/images/charaA_death.gif");
    }
    .charaB {
        width: 75px;
        height: 35px;
        padding: 7px;
        background-color: #fff;
        border: 2px solid #FA7474;
        cursor: pointer;
        margin-bottom: 10px;
        background-image: url("/images/charaB.gif");

    }
    .charaB.burst {
        background-image: url("/images/charaB_burst.gif");
    }
    .charaB.death {
        background-image: url("/images/charaB_death.gif");
    }